{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "8.11.4"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ],
  "ignore": [
    "**/*.test.ts"
  ]
}
